[submodule "GraphWrangler"]
	path = GraphWrangler
	url = git@github.com:formal-verification-research/graphwrangler.git
[submodule "onnx-tensorflow"]
	path = onnx-tensorflow
	url = git@github.com:onnx/onnx-tensorflow.git
